/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #f1f4f7;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  margin-top: 16px;
  margin-inline: 16px;
}

mat-card {
  padding: 16px;
}

.box {
  max-width: 800px;
  margin-inline: auto;
}

mat-form-field {
  width: 100%;
}
